:root {
    --color0: #00202e; 
    --color1: #70AE6E; 
    --color2: #9BA7C0;
    --color2-faint: #9ba7c02c;  
    --color-high: #F29559;
    --color-text: #F6CA83;
}

body {
    font-family: sans-serif;
    margin: auto;
    background-color: var(--color0);
    color: var(--color-text);
}

dialog {
    color: var(--color-text);
    outline: none; 
    border: none; 
    background: #00202ecc;
}

.svgClass {
  width: 100%
}
